p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}



body{
     font-family: "Montserrat", sans-serif;
}